## Deliverable 3. Create a Travel Itinerary Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,78.30,moderate rain,-23.1203,-134.9692,Pension Maro'i
1,5,Mogadishu,SO,75.29,scattered clouds,2.0371,45.3438,Hotel Juba
2,9,Hobart,AU,79.00,scattered clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
3,17,Mataura,NZ,76.17,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,18,Mahebourg,MU,78.80,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mataura"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mataura"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ranfurly"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Wanaka"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Te Anau"]

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
nz_bike_tour = gmaps.directions_layer(start, end, 
                                      waypoints=[stop1, stop2, stop3],
                                     travel_mode='BICYCLING')
fig.add_layer(nz_bike_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
nz_bike_tour_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
nz_bike_tour_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Mataura,NZ,76.17,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,420,Ranfurly,NZ,77.00,broken clouds,-45.1333,170.1000,Ranfurly Holiday Park Motels & Cabins
2,658,Wanaka,NZ,77.77,broken clouds,-44.7000,169.1500,Wanaka Homestead Lodge and Cottages
3,212,Te Anau,NZ,77.59,clear sky,-45.4167,167.7167,Kingsgate Hotel Te Anau

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
nz_hotel_info = [info_box_template.format(**row) for index, row in nz_bike_tour_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
nz_locations = nz_bike_tour_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=start, zoom_level=6)
marker_layer = gmaps.marker_layer(nz_locations, info_box_content=nz_hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))